:root {
    --base-bg-color: #111115;
    --base-text-color: #eee;

    --header-bg-color: #161b22;
    --header-text-color: #eee;

    --footer-bg-color: #161b22;
    --footer-text-color: #eee;

    --assort-bg-color: #161b22;
    --assort-text-color: #ddd;

    --table-header-bg: inherit;
    
    --new-memo-icon-color: #ddd;
    --new-memo-border: inherit;
    
    --link-hover-text-color: #aaa;

    --memo-title-bg-color: #161b22;
    --memo-title-border: #888;
    --memo-editor-overlay-text-color: #aaa;
    --memo-tooltip-border-color: #ddd;
    --memo-tooltip-bg-color: #161b22;
    --memo-tooltip-icon-color: #ddd;

    --memo-helper-icon-color: #eee;
    --memo-helper-icon-hover-color: #58a6ff;
    --memo-helper-border-color: #aaa;

    --settings-group-title-border-color: #888;
}