:root {
    --base-bg-color: #111115;
    --base-text-color: #eee;

    --assort-bg-color: #161b22;
    --assort-hover-bg-color: #323e4d;
    --assort-text-color: #ddd;
    --assort-hover-text-color: #ddd;
    --assort-reverse-text-color: #323e4d;

    --sidebar-bg-color: #161b22;
    --sidebar-text-color: #eee;
    --sidebar-separator-color: #888;
    --sidebar-content-icon-bg-color: #343a40;
    --sidebar-logout-text-color: #f66;

    --header-bg-color: #161b22;
    --header-text-color: #eee;

    --footer-bg-color: #161b22;
    --footer-text-color: #eee;

    --table-header-bg: inherit;
    
    --new-memo-icon-color: #ddd;
    --new-memo-border: inherit;

    --simple-under-line-color: #888;
    
    --link-hover-text-color: #aaa;

    --memo-list-date-color: #999;

    --memo-title-bg-color: #161b22;
    --memo-title-border: #888;
    --memo-editor-overlay-text-color: #aaa;
    --memo-tooltip-border-color: #ddd;
    --memo-tooltip-bg-color: #161b22;
    --memo-tooltip-icon-color: #ddd;

    --memo-helper-icon-color: #eee;
    --memo-helper-icon-hover-color: #58a6ff;
    --memo-helper-border-color: #aaa;

    --memo-tag-close-hover-color: #ddd;
    
    --memo-pinned-active-color: rgb(255 219 43);

    --settings-group-title-border-color: #888;
}