:root {
    --base-bg-color: #fff;
    --base-text-color: #222;

    --assort-bg-color: #fafbfc;
    --assort-hover-bg-color: #d1d1d2;
    --assort-text-color: #333;
    --assort-hover-text-color: #222;
    --assort-reverse-text-color: #d1d1d2;

    --sidebar-bg-color: #161b22;
    --sidebar-text-color: #eee;
    --sidebar-separator-color: #888;
    --sidebar-content-icon-bg-color: #343a40;
    --sidebar-logout-text-color: #f66;

    --header-bg-color: #161b22;
    --header-text-color: #eee;

    --footer-bg-color: #161b22;
    --footer-text-color: #eee;

    --table-header-bg: #e8e9ea;

    --new-memo-icon-color: #212529;
    --new-memo-border: 1px solid #212529;

    --simple-under-line-color: #aaa;

    --link-hover-text-color: #444;

    --memo-list-date-color: #999;

    --memo-title-bg-color: #eee;
    --memo-title-border: #aaa;
    --memo-editor-overlay-text-color: #555;
    --memo-tooltip-border-color: #161b22;
    --memo-tooltip-bg-color: #161b22;
    --memo-tooltip-icon-color: #ddd;

    --memo-helper-icon-color: #161b22;
    --memo-helper-icon-hover-color: #58a6ff;
    --memo-helper-border-color: #bbb;

    --memo-tag-close-hover-color: #161b22;

    --memo-pinned-active-color: rgb(255 219 43);

    --settings-group-title-border-color: #aaa;
}