
.memo-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 2rem;
    width: 100%;
    margin: 0.5rem 0;
    border-radius: 4px;
}

.memo-check-button-container {
    flex-grow: 0;
    flex-shrink: 0;
    margin: 0 1rem;
}

.memo-item-checkbox {
    width: 2rem;
}

.memo-title-container {
    flex-grow: 1;
}

.memo-list {
    width: 100%;
}

.memo-list-link, .memo-list-link:active, .memo-list-link:visited, .memo-list-link:link {
    color: var(--base-text-color);
    text-decoration: none;
}

.memo-list-link:hover {
    color: var(--link-hover-text-color);
    text-decoration: none;
}

.memo-updated-at {
    font-size: 0.8rem;
    margin-right: 0.8rem;
    color: var(--memo-list-date-color);
    align-self: flex-end;
}

.load-more-button-container {
    text-align: center;
}