main {
    min-height: calc(100vh - 64px * 2);
}

.memo-operation-items {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: baseline;
}

.memo-operation-items > * {
    margin-right: 8px;
}

/* 新規メモ周り */

.new-memo-container {
    margin: 8px;
    margin-left: 24px;
}

.new-memo-container a {
    text-decoration: none;
}

.new-memo {
    height: 48px;
    width: 150px;
}

.new-memo .btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 48px;
    width: 150px;
    border: var(--new-memo-border);
}

.new-memo .fa-plus-square {
    color: var(--new-memo-icon-color);
}

.new-memo-text {
    margin-left: 8px;
}

/* 操作ボタン */

/* メモリスト */

.memo-list-group-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.memo-list-group-container > * {
    width: 50%;
}

#allMemoList {
    width: 50%;
    padding: 0 1rem;
}

.memo-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 2rem;
    width: 100%;
    margin: 0.5rem 0;
    border-radius: 4px;
}

.memo-check-button-container {
    flex-grow: 0;
    flex-shrink: 0;
    width: 2rem;
    margin: 0 1rem;
}

.memo-title-container {
    flex-grow: 1;
}

.memo-list {
    width: 100%;
}

.memo-list-link, .memo-list-link:active, .memo-list-link:visited, .memo-list-link:link {
    color: var(--base-text-color);
    text-decoration: none;
}

.memo-list-link:hover {
    color: var(--link-hover-text-color);
    text-decoration: none;
}

.memo-updated-at {
    font-size: 0.8rem;
    margin-right: 0.8rem;
    color: var(--memo-list-date-color);
    align-self: flex-end;
}

.load-more-button-container {
    text-align: center;
}