main {
    min-height: calc(100vh - 64px * 2);
}

.memo-operation-items {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: baseline;
}

.memo-operation-items > * {
    margin-right: 8px;
}

/* 新規メモ周り */

.main-operation-button-container {
    margin: 8px;
    margin-left: 24px;
}

.main-operation-button-container a {
    text-decoration: none;
}

.main-operation-button {
    height: 48px;
    width: 150px;
}

.main-operation-button .btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 48px;
    width: 150px;
    border: var(--new-memo-border);
}

.main-operation-button .main-operation-button-icon {
    color: var(--new-memo-icon-color);
}

.main-operation-button-text {
    margin-left: 8px;
}

/* 操作ボタン */

/* メモリスト */

.memo-list-group-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.memo-list-group-container > * {
    min-width: 50%;
}

#allMemoList {
    width: 50%;
    padding: 0 1rem;
}
