body {
    min-height: 100vh;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100% - 64px * 2);
    min-height: 480px;
}

.login-container {
    /* background-color: #666; */
    margin: 4rem auto;
    width: 400px;
}

.login-container h1 {
    text-align: center;
}

.btn-login {
    width: 100%;
    margin-bottom: 1rem;
}

.form-option {
    font-size: 14px;
}

#sidebar {
    display: none;
}

#main {
    margin-left: 0;
}

.sidebar-switch-container {
    display: none;
}