#tagManager {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#tagManager .errors {
    width: 100%;
}

#tagListContainer {
    margin: 1rem;
    overflow: auto;
    width: 256px;
}

.tag-name-container {
    position: relative;
    cursor: pointer;
    width: 100%;
}

.tag-name-container p {
    margin: 0;
    padding: 0.25rem;
    overflow-wrap: break-word;
}

.tag-name-container:hover {
    background-color: var(--assort-hover-bg-color);
    color: var(--assort-hover-text-color);
}

.tag-name-container .delete-tag-button {
    display: none;
}

.tag-name-container:hover .delete-tag-button {
    position: absolute;
    display: block;
    cursor: pointer;
    top: 50%;
    right: 0.25rem;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    border-radius: 100%;
    width: 24px;
    height: 24px;
    border: 2px solid transparent;
}

.tag-name-container:hover .delete-tag-button:hover {
    background-color: var(--assort-reverse-bg-color);
    color: var(--assort-reverse-text-color);
    border: 2px solid var(--assort-reverse-text-color);
}

.delete-tag-button > i {
    position: absolute;
    left: 3.5px;
    top: 1px;
}

#memoList {
    padding: 1rem;
    flex-shrink: 1;
    flex-grow: 1;
}