<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <script src="/js/loadCommonParts.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MemoEase Home</title>
</head>
<body>
    <div id="header"></div>
    <main id="main">
        <div id="homeMemoList">
            <!-- messages -->
            <div class="errors alert alert-danger" v-if="errorMessage != ''" v-cloak>
                <p>{{ errorMessage }}</p>
            </div>
            <div class="memo-operation-items">
                <!-- 新規メモボタン -->
                <div class="new-memo-container">
                    <div class="new-memo">
                        <a href="/memo.html">
                            <div class="btn" :class="[{'btn-light': theme == 'light'}, {'btn-dark': theme == 'dark'}]">
                                <i class="far fa-plus-square fa-2x"></i>
                                <div class="new-memo-text">New Memo</div>
                            </div>
                        </a>
                    </div>
                </div>

                <!-- その他操作用 -->
                <div class="memo-operation-selector-container">
                    <select class="form-control" name="memoOperationSelector" id="memoOperationSelector" @change="memoOperation" v-model="operationType">
                        <option value="">操作を選択</option>
                        <option value="trash">削除</option>
                    </select>
                </div>
            </div>
            <!-- メモ一覧 -->
            <div class="memo-list-group-container">
                <div id="allMemoList" class="col-6">
                    <div class="all-memo-list-container memo-list-container">
                        <div class="list-header">
                            <p>全てのメモ</p>
                        </div>
                        <div class="memo-list">
                            <memo-card v-for="memo of memos" :class="[{'table-dark': theme == 'dark'}]" :memo="memo" :list-type="'all'"></memo-card>
                        </div>
                    </div>
                    <!-- 続きを読み込むボタン -->
                    <div class="load-more-button-container" v-if="this.nextPageMemoId">
                        <button class="btn" :class="[{'btn-dark': theme == 'light'}, {'btn-light': theme == 'dark'}]" @click="addMemoList">続きを読み込む</button>
                    </div>
                    <div class="end-of-memo-list" v-if="!this.nextPageMemoId">
                        <p>これ以上メモはありません</p>
                    </div>
                </div>
                <div class="col-6">
                    <div class="memo-list-container">
                        <div class="list-header">
                            <p>ピン留めされたメモ</p>
                        </div>
                        <div class="memo-list">
                            <memo-card v-for="memo of pinnedMemos" :class="[{'table-dark': theme == 'dark'}]" :memo="memo" :list-type="'pinned'"></memo-card>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <div id="footer"></div>

    <script>
        window.addEventListener('DOMContentLoaded', (e) => {
            appendScript('/js/auth.js', true);
            appendScript('/js/home.js', true);
            appendCss('/css/home.css')
        })
    </script>
</body>
</html>